.markdown-content p {
    margin: 0.01rem 0; /* 상하 간격을 줄임 */
    line-height: 1.5; /* 줄 높이를 적당히 설정 */
  }
  
  .markdown-content h1, .markdown-content h2, .markdown-content h3 {
    margin: 0.25rem 0; /* 헤더의 상하 간격 */
  }
  
  .markdown-content ul, .markdown-content ol {
    list-style-type: disc;
    margin: 0.001rem 0; /* 리스트 상하 간격 */
  }
  
  .markdown-content li {
    margin-bottom: 0.005rem; /* 리스트 항목 간의 간격 */
  }
  